<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Add a new cat!</h1>
  <form action="/cats/<%= cat.id %>" method="POST">
    Name: <input type="text" value="<%= cat.name %>" name="name"><br>
    Age: <input type="text" value="<%= cat.age %>" name="age"><br>
    Owner: <input type="text" value="<%= cat.owner %>" name="owner">
    <input type="submit" value="Submit">
  </form>
  <a href="/">Home</a>
</body>

</html>